
  <div>
  <form>
    <div class="mb-3">
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Nombre del Usuario</label>
        <input type="text" id="disabledTextInput" class="form-control" [(ngModel)]="rusuario.user" >
      </div>
      <label for="exampleInputEmail1" class="form-label" >Email</label>
      <input type="email" class="form-control" [(ngModel)]="rusuario.email" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" [(ngModel)]="rusuario.password" id="exampleInputPassword1">
    </div>
    <button type="submit" (click)="altaUsuario()" class="btn btn-primary">Registrar</button>
  </form>
</div>