.navbar {
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-item:hover {
    background-color: #181818;
    border-radius: 5px;
    color: #ffffff;
}

.dropdown-item {

    color: #141111;

}