<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" id="logo" href="#">JINX</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#formul"
        aria-controls="formul" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="formul">
        <!--menú-->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Home">Campeones</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Nueva Season
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-dark" href="#">Objetos</a></li>
              <li><a class="dropdown-item text-dark" href="#">Nuevas Sking</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item text-dark" href="#">Campeones Odiados</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Contactanos
            </a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" >Contactanos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-header">
                    ¿Tuviste algún problema?, necesitas ayuda, Contacta con nosotros.
                    Envianos un formulario con tu problema.
                  </div>
                  <div class="modal-body">

                     <!--Formulario-->
                    <form id="contactForm">

                      <!-- Name input -->
                      <div class="mb-3">
                        <label class="form-label" for="name">Nombre</label>
                        <input class="form-control" id="Nombre" type="text" placeholder="Nombre" />
                      </div>
                      <!-- apellidos input -->
                      <div class="mb-3">
                        <label class="form-label" for="Apellidos">Apellidos</label>
                        <input class="form-control" id="apellidos" type="text" placeholder="Apellidos" />
                      </div>
                      <!--Telefono-->
                      <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" required>
                      </div>
                      <!-- Email address input -->
                      <div class="mb-3">
                        <label class="form-label" for="emailAddress">Correo electrónico</label>
                        <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" />
                      </div>

                      <!-- Message input -->
                      <div class="mb-3">
                        <label class="form-label" for="message">Mensaje</label>
                        <textarea class="form-control" id="message" type="text" placeholder="Message"
                          style="height: 10rem;"></textarea>
                      </div>

                      <!-- Form submit button -->
                      <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
                      </div>

                    </form>
                     <!--Fin Formulario-->
                  </div>

                </div>
              </div>
            </div>
          </li>
        </ul>
        <!--Buscador-->
        <form class="d-flex">
          <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary text-white" type="submit">Buscador</button>
        </form>
         <!--Fin Buscador-->
      </div>
    </div>
  </nav>
