<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" id="logo" href="#">INICIO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#formul"
      aria-controls="formul" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="formul">
      <!--menú-->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/Home">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <div *ngFor="let categoria of categorias">
            <li><a class="dropdown-item text-dark" (click)="navigate(categoria.id_categoria)">{{categoria.n_categoria}}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
          </div>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="CerrarSesion()">Cerrar Sesión</a>
        </li>
      </ul>
      <!--Buscador-->
      <form class="d-flex">
        <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary text-white" type="submit">Buscador</button>
      </form>
      <!--Fin Buscador-->
    </div>
  </div>
</nav>

